<div>
  <li class = "puppy_image">
      <img src={{image.image_url}}>
     </img>
        <p>{{image.image_content}} 
      </p>
      </div>
<p class ="comment-title">Comments</p>
{{> comments image.comments }}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" id= "Add_Comment">Add Comment</button>
  </div>
</form>
{{else}}
<div class="login-please">
 <a href="/login">You Must Login to Comment!</a>
</div>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
